
{% extends "idr_gallery/base.html" %}

{% block content %}

<style>
  .study{
    width: 247px;
    height: 247px;
  }
  .study a:hover {
    color: #1e94e6;
  }
  .maprViewerLink {
    position: relative;
  }
  a.maprViewerLink div {
    display: inline-block;
    position:relative;
  }
  a.maprViewerLink i {
    visibility: hidden;
    color: white;
    position: absolute;
    top: 8px;
    right: 8px;
  }
  a.maprViewerLink:hover i{
    visibility: visible;
  }
  .exampleImages .thumbnail {
    max-height: 45px;
    max-width: 45px;
  }
  table td {
    white-space: nowrap;
  }
  .filterMessage {
    font-size: 120%;
  }
  .filterMessage strong {
    color: #1976d2;
  }
  #results td, #results th {
    text-align: center;
  }
  #filterCount {
    clear: right;
  }

  #query_json {
    position: relative;
  }
  #query_json code {
    font-size: 10px;
  }
  #query_json pre {
    background: white;
    padding: 10px;
    border-radius: 5px;
  }
  #query_json button {
    float: right;
    margin: 0;
    padding: 6px;
    border-radius: 8px;
    font-size: 13px !important;
    top: -50px;
    right: 5px;
    position: absolute;
  }
  .hidden pre {
    display: none;
  }

  .buttonbar a, .buttonbar button{
    margin:10px 5px 5px;
    border-radius: 10px;
    font-size: 12px;
    line-height: 1.2;
  }

  .home {
    background: #263238;
    border-radius: 10px;
    color: #eceff1;
    padding: 10px;
    display: inline-block;
    font-weight: normal;
    border: solid #263238 1px;
  }
  .history_button {
    vertical-align: baseline;
    float: right;
  }

  /* 'Search' button hidden for now */
  button[type='submit'] {
    display: none;
    background: #1976d2;
    float: right;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
  }
</style>

<script src="{% static 'idr_gallery/jsonurl.js' %}?_={{VERSION}}"></script>

<link rel="stylesheet" href="{% static 'idr_gallery/css/search_form_styles.css' %}?_={{VERSION}}" />

<div class="row column buttonbar">
  <!-- Home button - bit painful to handle /cell/search etc -->
  <a  {% if super_category %}
        {% for c, data in super_categories.items %}
          {% if c == category %} href="{% url 'gallery_super_category' super_category=c %}" {% endif %}
        {% endfor %}
      {% else %}
        href="{% url 'idr_gallery_index' %}"
      {% endif %}
        class="home">
    <i class="fa fa-caret-left"></i> Home
  </a>

  <button class="button info small history_button" id="forward">
    Redo
  </button>
  <button class="button info small history_button" id="back">
    Undo
  </button>
</div>

<div class="row column">

<div class="small-12 small-centered medium-12 medium-centered columns">

    <div class="row horizontal">

      <form id="search_form">
      </form>

      <div id="query_json" class="hidden">
        <button title="Show JSON used to query the search-engine" 
          class="hollow button secondary small round" href="#">Query JSON</button>
        <pre><code></code></pre>
      </div>

      <div id="filterCount" class="row horizontal text-center">
        <!-- results message here -->
      </div>
    </div>

    <div id="filterSpinner" class="row horizontal text-center">
      <div id="filterSpinnerMessage">
        <!-- Show a waiting... message here -->
      </div>
      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="sync" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-sync fa-w-16 fa-spin fa-lg"><path fill="currentColor" d="M440.65 12.57l4 82.77A247.16 247.16 0 0 0 255.83 8C134.73 8 33.91 94.92 12.29 209.82A12 12 0 0 0 24.09 224h49.05a12 12 0 0 0 11.67-9.26 175.91 175.91 0 0 1 317-56.94l-101.46-4.86a12 12 0 0 0-12.57 12v47.41a12 12 0 0 0 12 12H500a12 12 0 0 0 12-12V12a12 12 0 0 0-12-12h-47.37a12 12 0 0 0-11.98 12.57zM255.83 432a175.61 175.61 0 0 1-146-77.8l101.8 4.87a12 12 0 0 0 12.57-12v-47.4a12 12 0 0 0-12-12H12a12 12 0 0 0-12 12V500a12 12 0 0 0 12 12h47.35a12 12 0 0 0 12-12.6l-4.15-82.57A247.17 247.17 0 0 0 255.83 504c121.11 0 221.93-86.92 243.55-201.82a12 12 0 0 0-11.8-14.18h-49.05a12 12 0 0 0-11.67 9.26A175.86 175.86 0 0 1 255.83 432z" class=""></path></svg>
    </div>

    <div id="studies" class="row horizontal">
    </div>

    <ul id="results" class="resultsList"></ul>
</div>

</div>

<script>
  // Various global constants from omero config set...
  var FILTER_KEYS = {{ filter_keys|safe }};
  var FILTER_MAPR_KEYS = {{ filter_mapr_keys|safe }};
  // e.g. GALLEY_INDEX/api-gallery/thumbnails for loading from IDR
  const GALLERY_INDEX = "{{ gallery_index }}";
  // this is the home of this app, e.g. for GALLERY_HOME/search/
  const GALLERY_HOME = "{% url 'idr_gallery_index' %}";
  const BASE_URL = "{{ base_url }}";
  const CATEGORY_QUERIES = {{ category_queries|safe }};
  var TITLE_KEYS = {{ TITLE_KEYS|safe }};
  var STUDY_SHORT_NAME = {{ STUDY_SHORT_NAME|safe }};
  var SUPER_CATEGORIES = {{ SUPER_CATEGORIES|safe }};
  var SUPER_CATEGORY {% if super_category %} = {{ super_category|safe }} {% endif %};
  var STATIC_DIR = "{% static 'gallery/' %}";
  var SEARCH_ENGINE_URL = `${BASE_URL}searchengine/api/v1/`;
</script>

<script src="{% static 'idr_gallery/omero_search_form.js' %}?_={{VERSION}}"></script>

<script>
  const searchForm = new OmeroSearchForm("search_form", SEARCH_ENGINE_URL, "results");
  // When the form is created, it loads terms etc before it is "ready"...
  searchForm.on("ready", function(){
    // Once ready, we can use URL query to search...
    searchFromUrl();
  });

  const SEARCH_PARAM = "q";

  // JSON query panel - show/hide
  $("#query_json button").on("click", function() {
    $("#query_json").toggleClass("hidden");
  });

  function updateQueryPanel() {
    // Also show the form JSON query
    let jsonData = searchForm.getCurrentQuery();
    $("#query_json code").text(JSON.stringify(jsonData, null, 2));
  }

  // custom handling of search results, not handled by OmeroSearchForm
  searchForm.on("results", function(event, data) {
    let studiesList = data.results?.results || [];
    let imgCount = studiesList.reduce((prev, study) => prev += study["image count"], 0);
    let studies = studiesList.length === 1 ? DISPLAY_TYPES[studiesList[0].type] : 'experiments/screens';
    let searchQuery = searchForm.getHumanReadableQuery();
    let msg = `<p class="filterMessage">
      Search ${searchQuery} found <strong>${imgCount}</strong> images in <strong>${studiesList.length}</strong> ${studies}
    </p>`;
    document.getElementById("filterCount").innerHTML = msg;
  });

  function searchFromUrl() {
    // always show Advanced form
    searchForm.setAdvanced(true);
    const searchParams = new URLSearchParams(window.location.search);
    let query = searchParams.get(SEARCH_PARAM);
    let case_sensitive = searchParams.get("case_sensitive");
    if (query) {
      // query contains whitespaces etc - not suitable for JsonURL.parse()
      // we need to turn it back into query string!
      let params = new URLSearchParams()
      params.append('q', query);
      // we know this string will ONLY contain q=... (safer than using window.location.search)
      query = params.toString().replace("q=", "");
      searchForm.fromJSON({
        clauses: JsonURL.parse(query, {AQF: true}),
        case_sensitive: JsonURL.parse(case_sensitive, {AQF: true})
      })
      searchForm.submitSearch();
    } else {
      let key = searchParams.get("key");
      let value = searchParams.get("value");
      let resource = searchParams.get("resource") || "image";
      if (value) {
        let operator = searchParams.get("operator") || "contains";
        searchForm.setKeyValueQuery({key, value, operator, resource});
        searchForm.submitSearch();
      }
    }
    updateQueryPanel();
  }


  // HISTORY... - Save state to URL. Use browser back and forward for undo/redo
  // We only keep note of history to enable/disable the undo/redo buttons
  let historyCount = 0;
  let historyState = 0;

  searchForm.on("form_updated", function(event, data) {
    // Update URL, adding to browser's history
    let formJson = searchForm.toJSON();
    let url = "?";
    // AQF = Addressbar Querystring Friendly: https://github.com/jsonurl/jsonurl-js
    url += (SEARCH_PARAM + "=" + JsonURL.stringify(formJson.clauses, {AQF: true}));
    url += "&case_sensitive=" + JsonURL.stringify(Boolean(formJson.case_sensitive));
    history.pushState(null, "", url);

    updateQueryPanel();
    historyCount++;
    historyState = historyCount;
    updateUndoRedo();
  });

  // URL changes 
  // User has hit the Forward or Back buttons
  // doesn't fire on history.pushState() above
  window.onpopstate = (event) => {
    searchFromUrl();
    updateUndoRedo();
  }

  // Undo/Redo button Click handlers
  $("#back").on("click", function() {
    historyState--;
    let b = window.history.back();
  });
  $("#forward").on("click", function() {
    historyState++;
    let f = window.history.forward();
  });

  // util function
  function setEnabled(selector, enabled) {
    if (enabled) {
      $(selector).removeClass("disabled")
        .removeAttr('disabled');
    } else {
      $(selector).addClass("disabled")
        .attr('disabled', 'disabled');
    }
  }

  // Update disabled state of undo/redo buttons
  function updateUndoRedo() {
    setEnabled("#forward", historyState < historyCount);
    setEnabled("#back", historyState > 0);
  }

  updateUndoRedo();

</script>

{% endblock %}
